
*{
  padding: 0;
  margin:0;
}


:root{
  --navbar-height:20px;
}

#navbar{
  display:flex;
  position: absolute;
 
  
}
#item
{
  margin-top: revert;
    margin-left: 45px;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    font-size: 2rem;
}
#navbar::before{
  content: "";
  background-color: black;
  opacity: 0.5;
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  
}


#navbar ul li a{
  color: white;
  text-decoration: none;
  margin-left: 70px;
  display: block;
  border-radius: 10px;

}
#navbar ul li a:hover{

  color: black;
  background-color: white;
  text-decoration: none;
  margin-left: 70px;
  display: block;
  border-radius: 10px;


}

#pic{
margin:010px px;
}
#pic img{
  margin-top: 20px ;
height: 50px;
width: 100px;
}

#home{
  display: flex;
  flex-direction: column;
  padding: 10px 300px;
  justify-content: center;
 align-items: center;
 margin-top: 65 px;
 height: 500px;
 margin-bottom: 20px;

  
}
#home::before{
  content: "";
  background: url(a5.jpg) no-repeat center center/cover  ;
  opacity: 0.8;
  position:absolute;
  height: 520px;
  width: 100%;
  z-index: -1;
  
  
}
.botn{
  
  border-radius: 50px;
  padding: 20px;


}
.botn:hover{
  
  border-radius: 50px;
  background-color: rgb(156, 127, 73);
  text-decoration: solid;
  cursor: pointer;

}
.main1{
  font-family: 'Pacifico', cursive;
padding: 25px;
font-size: 40px;
color: white;

}
.main2{
  font-family: 'Pacifico', cursive;
 padding:15px;
 color: white;


}
.main3{

  font-family: 'Pacifico', cursive;
  padding: 15px;
  color: white;
}

.main4{
  font-family: 'Pacifico', cursive;
  padding: 15px;
  color: white;
}

#surv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  
 
}

.second {
  font-size: 33px;
  text-align: center;
}

.south{
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #957777;
  margin-bottom: 20px;
  


}
.north{
  border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background:#957777;
    margin-bottom: 20px;

}
.chinese{
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #957777;
  margin-bottom: 20px;

}
.desi{
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;  

}

.b1{
text-align: center;
}
.b2{
  text-align: center;
}
.b3{
  text-align: center;
}
.south img{
  height: 333px;
  width: 833px;

} 
.north img{
  height: 333px;
  width: 833px;

} 
.chinese img{
  height: 333px;
    width: 833px;
} 
.my_clie  nts{
  height: 400px;

}


.prim{
  text-align: center;
  font-family: 'Edu SA Beginner', cursive;
  margin-top: 90px;
}

#clients_are {
  display: flex;
}
 


#clients_are img{
  padding: 36px 122px;
  height: 137px;
  width: 132px;
}
#clients_are::before{
    border-radius: 200px;
content: "";
background:url('./a19.webp');
position: absolute;
width: 100%;
height:50%;
z-index: -1;
opacity: 0.3;
align-self: center;
margin-bottom: 100px;
  }

.t1{
  margin-top: 53px;
  margin-bottom: 85px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  height:00px;
}

.contact::before{
  content: "";
  background: url(a21.jpg)no-repeat center center/cover;
  opacity: 0.6;
  position: absolute;
  height: 553px;
  width: 100%;
  z-index: -1;
}
 .form_group
{
  display: flex;
flex-direction: column; 
} 
.contact-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;

}




  .botn2{
  
    border-radius: 50px;
    padding: 20px;
  }
  .botn2:hover
  {
    border-radius: 50px;
    background-color: rgb(156, 127, 73);
    text-decoration: solid;
    cursor: pointer;
  
  }
  footer{
    margin-top: 119px;
    text-align: center;
   background-color: black;
   color: white;padding: 9px 20px;
  }


body {
  /* background-image: url('d3.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-color: black; */


  
}